<h1>
  Результаты поиска
</h1>

<%= render @articles %>

<% if @articles.size==0 %>
    Не найдено
    <br>
    Попробуйте указать ОДНО слово БЕЗ ОКОНЧАНИЯ
    <%= render 'shared/search' %>
<% end %>


