<h1>
  Результаты поиска
</h1>

<% @articles.each do |article| %>
    <h3>
      <%= link_to article.title, article %>
    </h3>
<% end %>

<% if @articles.size==0 %>
    Не найдено
    <br>
<% end %>


