Поиск по всем лекциям:

<%= render 'shared/search' %>

<% cache "me" do %>
    <%= render @categories %>
<% end %>

<% if !getfavs.blank? %>
    <%= image_tag "divider.png" %>
    <h1>Избранные лекции</h1>
    <% getfavs.each do |article| %>
        <%= render Article.find(article) %>
    <% end %>
    <br>
<% end %>
