Поиск по всем лекциям:

<%= render 'shared/search' %>
<% cache "me" do %>
    <% @categories.each do |category| %>
        <h1>
          <%= link_to category.title, category %>
        </h1>
    <% end %>
<% end %>