<% @categories.each do |category| %>
    <h1>
      <%= link_to category.title, category %>
    </h1>
<% end %>
<br>
<% @articles.each do |article| %>
    <h3>
      <%= link_to article.title, article %>
    </h3>
<% end %>